* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media only screen and (max-width: 5000px) {


}


body {
	background: linear-gradient(to left, #821bcc, #de3ece);

}

.container {
	width: 48%;
	margin: 20px auto;
}

h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-transform: uppercase;
	border-left: 5px solid blue;
	margin: 10px;
	color: #00eef2;
}

.book {
	width: 48%;
	float: left;
	background: #7ef500;
	margin: 5px;
	padding: 10px;
}

.icon {
	width: 15%;
	float: left;
	line-height: 100px;
}

button {
	background: #1abc9c;
	border-radius: 7px;
	padding: 6px 6px;
	color: #fff;
	float: right;
    cursor: pointer;
}

